# CORREGIR
1. idioma - ERROR 500
2. durecion - hermoso
3. franquicia - no funca
4. pais - hermoso
5. productoras - TriStar Pictures no aparece. arreglarlo. no aparece el mj de que no ta en la base
6. diector -  funciona bonito - agregaria un mj de si el director no ta en la base

Una de las consignas de este proyecto es crear 6 funciones para los endpoints que se consumirán en la API.
Esas funciones son: 

(ok) def peliculas_idioma( Idioma: str ): Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma

(Mejorar) def peliculas_duracion( Pelicula: str ): Se ingresa una pelicula. Debe devolver la duracion y el año.
                    Ejemplo de retorno: X . Duración: x. Año: xx

() def franquicia( Franquicia: str ): Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
                    Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

() def peliculas_pais( Pais: str ): Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
                    Ejemplo de retorno: Se produjeron X películas en el país X

() def productoras_exitosas( Productora: str ): Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo.
                    Ejemplo de retorno: La productora X ha tenido un revenue de x

() def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

Carga de librerias y dfs

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Establecer la opción para mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [3]:
collections = pd.read_csv('data/collections.csv',low_memory=False)
directors = pd.read_csv("data/directors.csv", sep=",")
movies = pd.read_csv('data/movies_3.csv',low_memory=False)
movies_production_companies = pd.read_csv("data/movies_production_companies.csv", sep=",")
original_language = pd.read_csv('data/original_language.csv',low_memory=False)
production_countries = pd.read_csv("data/movies_production_countries.csv", sep=",")

-----

# 1 . función peliculas_idioma

Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.
Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma

In [4]:
original_language[original_language.empty()]

TypeError: 'bool' object is not callable

# revisar esto

In [ ]:
original_language.dtypes

id_movie              int64
title                object
original_language    object
dtype: object

In [ ]:
original_language = original_language.astype({'id_movie' : 'int', 
                        'title':'str',
                        'original_language': 'str'})

In [ ]:
original_language.dtypes

id_movie              int32
title                object
original_language    object
dtype: object

In [ ]:
original_language[original_language.original_language == 'en'].shape[0]

32176

In [ ]:
# @app.get('/peliculas_idioma/{idioma}')
def peliculas_idioma(idioma:str):
    try:
        idioma = idioma.lower().strip()
        respuesta = original_language[original_language.original_language == idioma].shape[0]
        return {'idioma':idioma, 'cantidad':respuesta}    
    
    except Exception as e:

        return {'error': str(e)}

In [ ]:
print(peliculas_idioma('EN'))
print(peliculas_idioma('es'))
print(peliculas_idioma('0'))
print(peliculas_idioma('tg'))

{'idioma': 'en', 'cantidad': 32176}
{'idioma': 'es', 'cantidad': 992}
{'idioma': '0', 'cantidad': 0}
{'idioma': 'tg', 'cantidad': 1}

Si es resultado es 0, se entiende que no hay peliculas en ese idioma y por lo tanto significaria que no estan en la base de datos.

-------------

# 2. función peliculas_duracion

Se ingresa una pelicula. Debe devolver la duracion y el año.
Ejemplo de retorno: X . Duración: x. Año: xx

In [ ]:
def peliculas_duracion( pelicula: str ): 
    '''  Se ingresa una pelicula. Debe devolver la duracion y el año..
    '''
    pelicula = pelicula.title().strip()
    pelis = movies[['title','runtime','release_year']]
    mensaje = "La pelicula {} no se encuentra en la base de datos".format(pelicula)



    if (pelis['title']==pelicula).any():
        pelis = pelis[pelis['title']==pelicula]
        duracion = pelis['runtime'].tolist()
        anios = pelis['release_year'].tolist()

  
        data = {
            'titulo':pelicula,
            'anio': anios, 
            'duración': duracion}
        
    else:
        data = {mensaje}

    return data

In [ ]:
print(peliculas_duracion('Titank'))
print(peliculas_duracion('Titan'))
print(peliculas_duracion('Toy Story '))
print(peliculas_duracion('toy story'))
print(peliculas_duracion('Titanic'))

{'La pelicula Titank no se encuentra en la base de datos'}
{'La pelicula Titan no se encuentra en la base de datos'}
{'titulo': 'Toy Story', 'anio': [1995], 'duración': [81.0]}
{'titulo': 'Toy Story', 'anio': [1995], 'duración': [81.0]}
{'titulo': 'Titanic', 'anio': [1997, 1953, 1996], 'duración': [194.0, 98.0, 173.0]}

-----------------

# 3. función franquicia

Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

cantidad

In [ ]:
collections.name_collection == 'Toy Story Collection'

0        True
1       False
2       False
3       False
4       False
        ...
4371    False
4372    False
4373    False
4374    False
4375    False
Name: name_collection, Length: 4376, dtype: bool

In [ ]:
(collections.name_collection == 'Toy Story Collection').sum()

3

In [ ]:
collections[collections.name_collection == 'Toy Story Collection'].count()

id_movie           3
name_collection    3
revenue            3
dtype: int64

ganancia_total

In [ ]:
collections['revenue'][collections.name_collection == 'Father of the Bride Collection']

Series([], Name: revenue, dtype: int64)

In [ ]:
(collections['revenue'][collections.name_collection == 'Father of the Bride Collection']).sum()

0

In [ ]:
collections.revenue[collections.name_collection == 'Toy Story Collection'].sum()

1937890605

In [ ]:
# @app.get('/franquicia/{franquicia}')
def franquicia(franquicia:str):
    '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio'''
    franquicia = franquicia.title().strip()
    cantidad = collections[collections.name_collection == franquicia].shape[0]

   
    if cantidad == 0:
        mensaje = f'La franquicia "{franquicia}" no se encuentra en nuestra base de datos. Intente nuevamente.'
        out = {mensaje}
    else:
        ganancia_total = int(collections.revenue[collections.name_collection == franquicia].sum())
        ganancia_promedio = ganancia_total/cantidad
        out = {'franquicia':franquicia, 'cantidad':cantidad, 'ganancia_total':ganancia_total, 'ganancia_promedio':ganancia_promedio}

    return out

In [ ]:
print (franquicia('Toy Story Collection'))
print (franquicia('James Bond Collection'))
print (franquicia('James Bond Collections'))
print (franquicia('James Bond'))
print (franquicia('Father of the Bride Collection '))
print (franquicia('James bond Collection'))

{'franquicia': 'Toy Story Collection', 'cantidad': 3, 'ganancia_total': 1937890605, 'ganancia_promedio': 645963535.0}
{'franquicia': 'James Bond Collection', 'cantidad': 26, 'ganancia_total': 7106970239, 'ganancia_promedio': 273345009.1923077}
{'La franquicia "James Bond Collections" no se encuentra en nuestra base de datos. Intente nuevamente.'}
{'La franquicia "James Bond" no se encuentra en nuestra base de datos. Intente nuevamente.'}
{'franquicia': 'Father Of The Bride Collection', 'cantidad': 2, 'ganancia_total': 165904691, 'ganancia_promedio': 82952345.5}
{'franquicia': 'James Bond Collection', 'cantidad': 26, 'ganancia_total': 7106970239, 'ganancia_promedio': 273345009.1923077}

--------------------

# 4. función peliculas_pais

Se ingresa un país (como están escritos en el dataset), retornando la cantidad de peliculas producidas en el mismo.
Ejemplo de retorno: Se produjeron X películas en el país X

In [ ]:
# @app.get('/peliculas_pais/{pais}')
def peliculas_pais(pais:str):
    '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo'''
    pais = pais.upper()
    cantidad =  int(production_countries.id_production_countries[production_countries.id_production_countries == pais].count())
    
    return {'pais':pais, 'cantidad':cantidad}

In [ ]:
print (peliculas_pais('IT'))
print (peliculas_pais('es'))
print (peliculas_pais('FR'))
print (peliculas_pais('AR'))
print (peliculas_pais('A'))

{'pais': 'IT', 'cantidad': 2163}
{'pais': 'ES', 'cantidad': 964}
{'pais': 'FR', 'cantidad': 3928}
{'pais': 'AR', 'cantidad': 254}
{'pais': 'A', 'cantidad': 0}

Obtener un valor 0 como respuesta indica que esa notación de país no se encuentra en el dataset.

------

# 5. función productoras_exitosas

Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo.
Ejemplo de retorno: La productora X ha tenido un revenue de x

In [ ]:
movies_production_companies.head(3)

   id_movie  id_production_companies name_production_companies    revenue
0       862                        3   Pixar Animation Studios  373554033
1      8844                      559          TriStar Pictures  262797249
2      8844                     2550              Teitler Film  262797249

In [ ]:
# @app.get('/productoras_exitosas/{productora}')
def productoras_exitosas(productora:str):
    '''Ingresas la productora, entregandote el revunue total y la cantidad de peliculas que realizo '''
    productora = productora.title().strip()

    df = movies_production_companies[movies_production_companies.name_production_companies == productora]

    revenue_total = int(df.revenue.sum())
    cantidad = int(df.revenue.count())

    if cantidad == 0:
        out = {f'La franquicia "{franquicia}" no se encuentra en nuestra base de datos. Intente nuevamente.'}
    else:
        out = {'productora':productora, 'revenue_total': revenue_total,'cantidad':cantidad}


    return out

In [ ]:
movies_production_companies.dtypes

id_movie                      int64
id_production_companies       int64
name_production_companies    object
revenue                       int64
dtype: object

In [ ]:
productoras_exitosas('Pixar Animation Studios')

{'productora': 'Pixar Animation Studios',
 'revenue_total': 11188533734,
 'cantidad': 52}

In [ ]:
movies_production_companies[movies_production_companies.name_production_companies == 'Pixar Animation Studios'].shape

(52, 4)

---------

# 6. funcion get_director
Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

In [ ]:
directors

       id_director              name  id_movie
0             7879     John Lasseter       862
1             4945      Joe Johnston      8844
2            26502     Howard Deutch     15602
3             2178   Forest Whitaker     31357
4            56106     Charles Shyer     11862
...            ...               ...       ...
48994      1182809  Hamid Nematollah    439050
48995      1051381          Lav Diaz    111109
48996        67753    Mark L. Lester     67758
48997      1085341  Yakov Protazanov    227506
48998      1344495     Daisy Asquith    461257

[48999 rows x 3 columns]

In [7]:
directors[directors.name == 'nombre_director'].empty

True

In [ ]:
# @app.get('/get_director/{nombre_director}')

def get_director( nombre_director ): 
    ''' Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. 
    A demás, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.'''
       
    nombre_director = nombre_director.title().strip()
    
    df = directors[directors.name == nombre_director]

    if df.empty:
        data = {f'No se encontraron directores con el nombre {nombre_director}.'}

    else:
   
        id_director = directors[directors.name == nombre_director].iloc[0,0]

        df = (
            pd.merge(
                directors[directors['id_director'] == id_director],
                movies[['id_movie','title','release_year','revenue','budget','return']],
                on='id_movie', 
                how='inner')
        )
        
        retorno_total_director = df['return'].sum()
        peliculas = df['title'].tolist()
        anios = df['release_year'].tolist()
        retorno_peliculas = df['return'].tolist()
        budget_peliculas = df['budget'].tolist()
        revenue_peliculas = df['revenue'].tolist()

        data = {
            'director':nombre_director, 
            'retorno_total_director':retorno_total_director, 
            'peliculas':peliculas, 
            'anio':anios, 
            'retorno_pelicula':retorno_peliculas, 
            'budget_pelicula':budget_peliculas, 
            'revenue_pelicula':revenue_peliculas}

    return data

In [ ]:
print (get_director('John Lassiiiii'))
print (get_director('Lav Diaz'))
print (get_director('Forest Whitaker '))
print (get_director('Jo fer'))

{'No se encontraron directores con el nombre John Lassiiiii.'}
{'director': 'Lav Diaz', 'retorno_total_director': 0.0, 'peliculas': ['Norte, The End Of History', 'Butterflies Have No Memories', 'Naked Under The Moon', 'Century Of Birthing'], 'anio': [2013, 2009, 1999, 2011], 'retorno_pelicula': [0.0, 0.0, 0.0, 0.0], 'budget_pelicula': [0, 0, 0, 0], 'revenue_pelicula': [0, 0, 0, 0]}
{'director': 'Forest Whitaker', 'retorno_total_director': 0.1964343337946757, 'peliculas': ['Waiting To Exhale', 'Hope Floats', 'First Daughter', 'Strapped'], 'anio': [1995, 1998, 2004, 1993], 'retorno_pelicula': [0.1964343337946757, 0.0, 0.0, 0.0], 'budget_pelicula': [16000000, 0, 30000000, 0], 'revenue_pelicula': [81452156, 0, 0, 0]}
{'No se encontraron directores con el nombre Jo Fer.'}